@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

@layer utilities {
	/* https://tailwindcss.com/docs/adding-new-utilities */
}

@layer base {
	/* https://tailwindcss.com/docs/adding-base-styles */
	@font-face {
		font-family: 'Rubik';
		src: url('./fonts/Rubik.ttf');
	}
	@font-face {
		font-family: 'Rubik';
		src: url('./fonts/Rubik-Italic.ttf');
		font-style: italic;
	}
}

@layer components {
	/*  branding colors */
	.bg-header {
		@apply bg-gray-800;
	}

	@variants hover, focus, active {
		.bg-header-hover {
			@apply bg-gray-700;
		}
	}

	/* Standard Components */
	.btn-nav {
		@apply block px-3 py-2 rounded-md text-base md:text-sm font-medium hover:bg-header-hover hover:text-white;
	}

	.btn-nav-active {
		@apply bg-gray-900 text-white;
	}
}
