@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

@layer utilities {
	/* https://tailwindcss.com/docs/adding-new-utilities */
}

@layer base {
	/* https://tailwindcss.com/docs/adding-base-styles */
	@font-face {
		font-family: "Rubik";
		src: url("./fonts/Rubik.ttf");
	}
	@font-face {
		font-family: "Rubik";
		src: url("./fonts/Rubik-Italic.ttf");
		font-style: italic;
	}
}
